.page {
  background-color: var(--bg);
  padding-top: 84px;
  padding-bottom: 104px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.loadMore {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 156px;
  height: 44px;
  margin: 48px auto 0;

  border: 1px solid var(--light-blue);
  border-radius: 12px;

  background-color: transparent;
  color: var(--main);
}

.filtersWrapper {
  margin-bottom: 60px;
}
